---
const projects = [
  {
    name: "Civic lunch",
    preview: "https://civic-lunch.darrenxu.com/",
    description: "A foodie's journey through lunch",
    link: "https://github.com/DarrenXu94/awake-template",
    imgLink:
      "https://github.com/DarrenXu94/awake-template/assets/16931153/6735407b-1caa-4d3a-b642-1944c82f3938",
  },
  {
    name: "Stocky timeline",
    preview: "https://stocky.darrenxu.com/",
    description: "A timeline of the Stocky sharehouse (RIP)",
    link: "https://github.com/DarrenXu94/vue-stocky",
    imgLink:
      "https://github.com/DarrenXu94/vue-stocky/assets/16931153/34314548-d38c-4da3-9839-14a7bce10c35",
  },
  {
    name: "Futsal scrape",
    preview: "https://futsal.darrenxu.com/",
    description: "Scraping a poorly built website for my own use",
    link: "https://github.com/DarrenXu94/astro-dribl",
    imgLink:
      "https://github.com/DarrenXu94/astro-dribl/assets/16931153/2b16e29a-c443-4623-91cd-6c4843514a65",
  },
  {
    name: "Public API Displayer",
    preview: "https://publicapi.darrenxu.com/",
    description: "A site with a list of public free to use APIs",
    link: "https://github.com/DarrenXu94/public-api-displayer",
    imgLink:
      "https://user-images.githubusercontent.com/16931153/152439824-e5c4938b-46b3-481e-9484-5381b9889b53.png",
  },
  {
    name: "Spritesheet Cropper",
    preview: "https://spritesheet-cropper.vercel.app/",
    description:
      "NextJS app that cuts a single spritesheet into individual images",
    link: "https://github.com/DarrenXu94/spritesheet-cropper",
    imgLink:
      "https://user-images.githubusercontent.com/16931153/154889161-407b1040-2c15-48c9-8148-416af6ce60c7.png",
  },
  {
    name: "ThreeJS Portfolio",
    preview: "https://three.darrenxu.com/",
    description: "A demo site I made to test the skills I learn with ThreeJS",
    link: "https://github.com/DarrenXu94/portfolio-three",
    imgLink:
      "https://user-images.githubusercontent.com/16931153/153305187-925194ac-78dc-4833-93fc-ea992a2183f6.gif",
  },
];

function randomIntFromInterval(min: number, max: number) {
  // min and max included
  return Math.floor(Math.random() * (max - min + 1) + min);
}
---

<section class="projects">
  <h2>See my projects</h2>

  <div class="wrapper">
    {
      projects.map((data, idx) => (
        <div
          class="card"
          style={{
            top: `${idx * 20 + 100 + idx * 2}px`,
            transform: `rotate(${randomIntFromInterval(1, 3) * 0.5 * (idx % 2 ? -1 : 1)}deg)`,
          }}
        >
          <h3>{data.name}</h3>
          <img src={data.imgLink} alt={data.name} />
          <p>{data.description}</p>
          <div class="card-link">
            <a href={data.preview} target="_blank">
              See this project <i class="fa fa-tablet" aria-hidden="true" />
            </a>
          </div>
          <div class="card-link">
            <a href={data.link} target="_blank">
              Github <i class="fa fa-github" aria-hidden="true" />
            </a>
          </div>
        </div>
      ))
    }
  </div>
</section>

<style lang="scss">
  .projects {
    padding-top: 100px;

    max-width: 700px;
    margin: 0 auto;
  }
  .wrapper {
    margin-top: 100px;
    padding-top: 50px;
    padding-bottom: 200px;
    max-width: 700px;
    margin: 0 auto;
  }

  .card {
    top: 30px;
    position: sticky;
    border: 1px solid #ccc;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    background-color: white;
    color: #333;
    padding: 40px;
    border-radius: 10px;
    margin-bottom: 20px;

    h2 {
      padding: 0;
    }

    img {
      width: 100%;
      height: auto;
      max-height: 200px;
      object-fit: cover;
      padding-top: 30px;
    }
    p {
      padding-top: 30px;
    }

    &-link {
      padding-top: 15px;
    }
  }
</style>
